<!doctype>
<html>
<head>
<%= javascript_include_tag "angular" %>
<%= javascript_include_tag "index" %>

</head>
<body  ng-app="CategoryApp">

<div ng-controller="CategoryAds"  data-ng-init="sponsored_ads()">
<br/>
<h2><center><%= t :welcome_to_megamarket %>!</center></h2>
<br/>

<div class="list-group" style="margin-left: 15px; width: 16%; float: left; ">
  <a href="" class="list-group-item active" >
    <%= t :categories %>
  </a>
  <a href="" class="list-group-item" ng-click="vozila()"><%= t :vehicles %></a>
  <a href="" class="list-group-item" ng-click="nekretnine()"><%= t :real_estate %></a>
  <a href="" class="list-group-item" ng-click="mobiteli()"><%= t :cell_phones %></a>
  <a href="" class="list-group-item" ng-click="sport()"><%= t :sports_equipment %></a>
  <a href="" class="list-group-item" ng-click="odjeca()"><%= t :clothing_and_footwear %></a>
  <a href="" class="list-group-item" ng-click="igrice()"><%= t :toys %></a>
  <a href="" class="list-group-item" ng-click="pcigre()"><%= t :video_games %></a>
  <a href="" class="list-group-item" ng-click="knjige()"> Knjige </a>
  <a href="" class="list-group-item" ng-click="umjetnost()"><%= t :art %></a>
  <a href="" class="list-group-item" ng-click="ostalo()"><%= t :other %></a>
</div>

<div style="margin-top: 30px; ">
    
<div ng-repeat="result in results" >    
  <div class="row" style="float: left; margin: 20px; width: 16%; ">
    <div class="thumbnail">
      <%= image_tag("no-img.jpg") %>
      <div class="caption">
        <h3>{{result.title}}</h3>
        <p>{{result.description}}</p>
        <p>Cijena: {{result.price}} KM</p><br/>
          
          <!--<a href="#/part" ng-click="myValue = true" class="btn btn-default" role="button">Pogledaj</a> -->
           <!--<a href="" class="btn btn-default" ng-click="dodajukorpu(5)">Dodaj u korpu</a>-->
            <button href="#/part" type="button" class="btn btn-default btn-sm">View</button>
           <button type="button" class="btn btn-primary btn-sm" ng-click="dodajukorpu(5)"><i class=" icon-shopping-cart">Add in cart</button>
      </div>
  </div>
</div>
 </div>     

  <p><b>Korpa</b></p>
      <%= image_tag("cart_icon.png") %>

      <p><b> {{items}}</b></p>

    </div>
<br/>

    
</div>


<script type="text/javascript">
    $('.dropdown-menu input, .dropdown-menu label').click(function(e) {
        e.stopPropagation();
    });
</script>
    

</body>
</html>

