<!doctype>
<html>
<head>
<%= javascript_include_tag "angular" %>
<%= javascript_include_tag "index" %>
<%= javascript_include_tag "angular-resource" %>
<%= javascript_include_tag "angular-route.min" %>


<body  ng-app="CategoryApp">

<div ng-controller="AdDetail" data-ng-init="pokreni()" >


<div style="margin-left: 25%;">
     <%= image_tag("no-img.jpg") %>
    <h3>{{ad.title}}</h3>
        Opis:
        <p>{{ad.description}}</p>
        <p>Cijena: {{ad.price}} KM</p><br/>

<br/>
<br/>
<b>Komentari</b>
<br/>
<br/>
    
<div ng-repeat="comment in comments" class="list-group" style="width: 40%;">
  <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">id_usera: {{comment.user_id}}</h4>
    <p class="list-group-item-text">{{comment.content}}</p>
  </a>
</div>
<br/>
<br/>
<% if session[:user_id] == nil %>
Prijavite se da bi ostavili komentar.
<% else %>
Dodaj komentar:
<br/>
    <br/>
<textarea rows="4" cols="50" ng-model="comment.content">
Unesite komentar...</textarea>
<br/>
<button ng-click="posaljiKomentar(comment)" class="btn btn-default btn-sm">Dodaj komentar</button>
<% end %>
</div>

</div>
</body>
</html>

