<!doctype>
<html>
<head>
<%= javascript_include_tag "angular" %>
<%= javascript_include_tag "index" %>
<%= javascript_include_tag "angular-resource" %>
<%= javascript_include_tag "angular-route.min" %>
<%= javascript_include_tag "angular-translate" %>    


<body  ng-app="CategoryApp">

<div ng-controller="AdDetail" data-ng-init="pokreni()" >
<h3 style="" class="page-header"></h3>


<div style="">
 <div class="panel panel-default" style="padding: 10px; height: 300px;">  
     <div style="float: left; margin-right: 30px;">
    <img src="{{ad.picture_path}}" height="200" width="200" style="border: solid; "/>
    <br/>
    <p ng-show="isOwner">
    {{ 'CHOOSE' | translate }}
    <br/>
    <input type="file" ng-file-select="uploadSlikeOglasa($files)" ng-model="file" style="width:120px;"  >
    </p>
    </div>
    <div>
   <p> <b>{{ 'BOOK_NAME' | translate }} </b> {{ad.title}} </p>
        <p><b>{{ 'PRICE' | translate }} </b> {{ad.price}} KM</p>
        <p><b>{{ 'AUTHOR' | translate }} </b> {{ad.author}}</p>
        <p><b>{{ 'DEPARTMENT' | translate }} </b> {{ad.section}}</p>
        <p><b>{{ 'YEAR' | translate }} </b> {{ad.academic_year}}.</p>
        <p ng-show="zamjena"><b>{{ 'FOR_EXCHANGE' | translate }}: </b> {{ 'YES' | translate }}</p>
        <p ng-show="!zamjena"><b>{{ 'FOR_EXCHANGE' | translate }}: </b> {{ 'NO' | translate }}</p>
        <b>{{ 'DESCRIPTION' | translate }}:</b>
        <p>{{ad.description}}</p>
         
    <div ng-controller="CategoryAds">
    <p><b>{{ 'PUBLISHED' | translate }}: </b>
   <a href="#profile" ng-click="userProfile(ad.user_id)"> {{ime}} </a></p>
    </div>
    </div>
</div>
<br/>
<br/>
<b>{{ 'ALL_COMMENTS' | translate }}</b>
<br/>
<br/>
<div class="panel panel-default" style="background-color: white;">  
<div ng-repeat="comment in comments" style="margin: 10px;">

    <b><a href="#profile" ng-click="userProfile(comment.user_id)">{{comment.user_username}}</a></b> | {{ comment.timestamp | date : 'dd/MM/yyyy'}}
    
    <div style="width: 100%">{{comment.content}}</div>

</div>
</div>
<br/>
<br/>
<div ng-hide="reg_and_login_value">

Prijavite se da bi ostavili komentar.
</div>
<div ng-show="reg_and_login_value">
{{ 'ADD_COMMENT' | translate }}:
<br/>
    <br/>
<textarea rows="4"  style="width: 100%" ng-model="comment.content">
{{ 'ADD_COMMENT' | translate }}...</textarea>
<br/>
<button ng-click="posaljiKomentar(comment)" class="btn btn-default btn-sm" style="margin-top: 5px;">{{ 'ADD_COMMENT' | translate }}</button>

</div>

</div>
</body>
</html>

