 <h1>Dashboard</h1>
<br/>
 <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
 <link rel="javascripts" href="javascripts/application.js">
      <!-- Optional theme -->
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
      <link rel="stylesheet" href="stylesheets/application.css">

<div class="container">

 <ul class="nav nav-tabs">
  <li><a href="/home"><%= t :home %></a></li>
  <li><a href="/ads"><%= t :ads %></a></li>
  <li><a href="/categories"><%= t :categories %></a></li>
  <li><a href="/users"><%= t :users %></a></li>
  <li><a href="/ads/new"><%= t :create_ad %></a></li>
  <li class="active"><a href="/dashboards"> Dashboard </a></li>
  
  
</ul>

</div>
 
<br/>
 <%= high_chart("my_id10", @chartnovi)  %>


 <%= high_chart("my_id4", @chart) do |c| %>
          <%= raw "options.tooltip.formatter = function() {return '<b> '+ this.point.name +'</b>: '+ this.y;}"  %>
          <%= raw "options.plotOptions.pie.dataLabels.formatter = function() { if (this.y > 5) return this.point.name; }"  %>


      <% end %>


 <%= high_chart("my_id5", @chart2) do |c| %>
          <%= raw "options.tooltip.formatter = function() {return '<b> '+ this.point.name +'</b>: '+ this.y;}"  %>
          <%= raw "options.plotOptions.pie.dataLabels.formatter = function() { if (this.y > 5) return this.point.name; }"  %>
          <% end %>

<%= high_chart("my_id6", @chart3) do |c| %>
          <%= raw "options.tooltip.formatter = function() {return '<b> YUPI!! '+ this.point.name +'</b>: '+ this.y +' %';}"  %>
          <%= raw "options.plotOptions.pie.dataLabels.formatter = function() { if (this.y > 5) return this.point.name; }"  %>
      <% end %>
      
<%= high_chart("my_bar_div", @bar) %>      
      

<body>
    <div id="wrap">
      <div class="container">
      </div>
    </div>
    <div id="footer">
<br/>
  <a href="http://localhost:3000/home">
    <font size="2"><div class="container" style="text-align: center" >Copyright © All Rights Reserved</div></font>
</a>
    </div>
</body>







