<link rel="stylesheet" href="stylesheets/ad.css">
 <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        
        <!-- Optional theme -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
        <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

<br/>
<%= form_for(@ad) do |f| %>
  <% if @ad.errors.any? %>
    
      <ul>
      <% @ad.errors.full_messages.each do |msg| %>
        <li class="alert alert-danger"><%= msg %></li>
      <% end %>
      </ul>
  <% end %>

  <select name="category_id">
    <% Category.all.each do |category| %>
        <option value="<%= category.id %>"><%= category.name %></option>
    <% end %>
</select>

  
 <div class="input-group">
  <div class="field">
    <b><%= t :title , :class=> "input-group-label" %></b><br />
    <%= f.text_field :title, :class=> "form-control" %>
  </div> 
 
    <b ><%= t :price,:class=> "input-group-label" %></b><br />
    <div class="input-group">
    <%= f.text_field :price,:class=> "form-control" %>
    <span class="input-group-addon">KM</span>
    
  </div>



  <div class="field">
   <b><%= t :description,:class=>"input-group-label" %></b><br />
    <%= f.text_area :description,:class=> "form-control" %>
  </div>
 </div>
 <button type="submit" class="btn btn-primary"> <%= t :next %></button>
 <%= link_to (t :back), ads_path, :class => "btn btn-default" %> 
<% end %>
</div>
