<link rel="stylesheet" href="stylesheets/ad.css">
 <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        
        <!-- Optional theme -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
        <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

<div class="container">

<h2> <%= t :ads %></h2><br/>


<ul class="nav nav-tabs">
  <li><a href="/home">Početna</a></li>
  <li class="active"><a href="/ads">Oglasi</a></li>
  <li><a href="/categories">Kategorije</a></li>
  <li><a href="/users">Korisnici</a></li>
  
</ul>


</div>

 
<div class="panel panel-default">
	<div class="panel-heading"><%= t :ad_listing %></div>
<div class="panel-body">
	<table class="table table-condensed">
  <tr>
    <th class="darkerBG col-xs-1"><%= t :title %></th>
    <th class="darkerBG col-xs-1"><%= t :price %></th>
    <th class="darkerBG col-xs-1"><%= t :description %></th>
  </tr>
  </br>


  <tr>
     <% @ads.each do |ad| %>

  
    
    <td class="darkBG col-xs-1"><%= ad.title %></td>
    <td class="darkBG col-xs-1"><%= ad.price %></td>
    <td class="darkBG col-xs-1"><%= ad.description %></td>

    
  
    <div class="btn-group" align="right">
    <td><%= link_to (t :show), ad,:class => "btn btn-default" %>
    <%= link_to (t :edit), edit_ad_path(ad),:class => "btn btn-default" %>
    <%= link_to (t :destroy), ad, method: :delete, data: { confirm: (t :you_sure) + "?" },:class => "btn btn-default" %></td>
    </div>
   </tr>
   <br/>
<% end %>
</table>
</div>
</div>



<br />

<%= link_to (t :new_ad), new_ad_path,:class => "btn btn-default" %>

<body>
    <div id="wrap">
      <div class="container">
      </div>
    </div>
    <div id="footer">
<br/>
  <a href="http://localhost:3000/home">
    <font size="2"><div class="container" style="text-align: center" >Copyright © All Rights Reserved</div></font>
</a>
    </div>
</body>