
 <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
        <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

<div class="container">

<h2> <%= t :ads %></h2><br/>


<ul class="nav nav-tabs">
  <li><a href="/home">Početna</a></li>
  <li class="active"><a href="/ads">Oglasi</a></li>
  <li><a href="/categories">Kategorije</a></li>
  <li><a href="/users">Korisnici</a></li>
  
</ul>


</div>

<table>
  <tr>
    <th><%= t :title %></th>
    <th><%= t :price %></th>
    <th><%= t :description %></th>
  </tr>

<% @ads.each do |ad| %>
  <tr>
    <td><%= ad.title %></td>
    <td><%= ad.price %></td>
    <td><%= ad.description %></td>
    
    <td><%= link_to (t :show), ad %></td>
    <td><%= link_to (t :edit), edit_ad_path(ad) %></td>
    <td><%= link_to (t :destroy), ad, method: :delete, data: { confirm: (t :you_sure) + "?" } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to (t :new_ad), new_ad_path %>
