<link rel="stylesheet" href="stylesheets/ad.css">
 <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        
        <!-- Optional theme -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
        <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>


<p id="notice" class="alert alert-success"><%= notice %></p>
<p>
  <b><%= t :title %>:</b>
  <%= @ad.title %>
</p>

<p>
  <b><%= t :price %>:</b>
  <%= @ad.price%>
</p>

<p>
  <b><%= t :description %>:</b>
  <%= @ad.description%>
</p>
<%= link_to 'Edit', edit_ad_path(@ad),:class => "btn btn-default"%> 
<%= link_to 'Back', ads_path,:class => "btn btn-default" %>
