<h1><%= t :login%></h1>

<p id="error"><%= flash[:error] %></p>
<p id="notice"><%= notice %></p>


<%= form_for :session, :url => sessions_path do |f| %>
<p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>

  <button type="submit" class="btn btn-primary"> <%= t :login %></button>
  <p><%= link_to (t :home), '/home' %></p>
  
<% end %>
