<div class="container">
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



<p id="error"><%= flash[:error] %></p>

  <div class="field">
    <b><%= t :username %></b><br />
    <%= f.text_field :username %>
  </div>
  <div class="field">
   <b><%= t :firstname %></b><br />
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <b><%= t :lastname %></b><br />
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
    <b><%= t :adress %></b><br />
    <%= f.text_field :adress %>
  </div>
  <div class="field">
    <b><%= t :city %></b><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <b><%= t :tel_num %></b><br />
    <%= f.text_field :tel_num %>
  </div>
  <div class="field">
    <b><%= t :password %></b><br />
    <%= f.text_field :password %>
  </div>



  <%= recaptcha_tags %>
  <div class="actions">
    <button type="submit" class="btn btn-primary"> <%= t :next %></button>
    </div>
<% end %>
</div>
