<!doctype html>
<html>
    <head>
        <title>Korisnici MegaOglasnika</title>
        <link rel="stylesheet" href="stylesheets/users.css">

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

    </head>

<div class="container">

<h2> <%= t :users %></h2><br/>


<ul class="nav nav-tabs">
  <li><a href="/home"><%= t :home %></a></li>
  <li><a href="/ads"><%= t :ads %></a></li>
  <li><a href="/categories"><%= t :categories %></a></li>
  <li  class="active"><a href="/users"><%= t :users %></a></li>
  <li><a href="/ads/new"><%= t :create_ad %></a></li>
  <li><a href="/dashboards"> Dashboard </a></li>
  
  
</ul>




<body >

<table>
  <tr class="row darkerBG">
    <th class="col-xs-1"><%= t :username %></th>
    <th class="col-xs-1"><%= t :firstname %></th>
    <th class="col-xs-1"><%= t :lastname %></th>
    <th class="col-xs-1"><%= t :adress %></th>
    <th class="col-xs-1"><%= t :city %></th>
    <th class="col-xs-1">Email</th>
    <th class="col-xs-1"><%= t :tel_num %></th>
    <th class="col-xs-1"><%= t :banned %></th>
    <th class="col-xs-1"><%= t :lastlogin %></th>
    <th class="col-xs-1"></th> <br/>
    <th class="col-xs-1"></th>  <br/>
    <th class="col-xs-1"></th> <br/>
  </tr>

<% @users.each do |user| %>
  <tr class="row">
    <td class="col-xs-1"><%= user.username %></td>
    <td class="col-xs-1"><%= user.firstname %></td>
    <td class="col-xs-1"><%= user.lastname %></td>
    <td class="col-xs-1"><%= user.adress %></td>
    <td class="col-xs-1"><%= user.city %></td>
    <td class="col-xs-1"><%= user.email %></td>
    <td class="col-xs-1"><%= user.tel_num %></td>
   <td class="col-xs-1"><%=  user.banned %></td>
    <td class="col-xs-1"><%= user.lastlogin %></td>
    <td class="col-xs-1"><%= link_to (t :show), user %></td>
    <td class="col-xs-1"><%= link_to (t :edit), edit_user_path(user) %></td>
    <td class="col-xs-1"><%= link_to (t :destroy), user, method: :delete, data: { confirm: (t :you_sure) + "?"  } %></td>
  </tr>
<% end %>
</table>

<br />
<button type="button" class="btn btn-primary" onclick="window.location.href='/users/new'"><%= t :add_user %></button>

<!-- Latest compiled and minified JavaScript -->
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</div>
  <body>
    <div id="wrap">
      <div class="container">
      </div>
    </div>
    <div id="footer">
<br/>
  <a href="http://localhost:3000/home">
    <font size="2"><div class="container" style="text-align: center" >Copyright © All Rights Reserved</div></font>
</a>
    </div>
</body>

</body>
</html>

