<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
  </head>
<body>
<div class="container">

<p id="notice"><%= notice %></p>

<% if @user.avatar_url==nil %>
<%= image_tag("default.jpg") %>
<% else %>
<%= image_tag(@user.avatar_url) %>
<% end %>

<p>
  <b><%= t :username %>:</b>
  <%= @user.username %>
</p>

<p>
  <b><%= t :firstname %></b>
  <%= @user.firstname %>
</p>

<p>
  <b><%= t :lastname %>:</b>
  <%= @user.lastname %>
</p>

<p>
  <b><%= t :adress %>:</b>
  <%= @user.adress %>
</p>

<p>
  <b><%= t :city %></b>
  <%= @user.city %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b><%= t :tel_num %></b>
  <%= @user.tel_num %>
</p>


<p>
  <b><%= t :banned %></b>
  <%= @user.banned %>
</p>

<p>
  <b><%= t :lastlogin %></b>
  <%= @user.lastlogin %>
</p>
<%= link_to (t :edit), edit_user_path(@user) %> |
<%= link_to (t :users), users_path %> |
<%= link_to (t :home), '/home' %> |
<%= link_to (t :logout), '/logout' %> 

</div>
</body>
</html>