<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Firstname:</b>
  <%= @user.firstname %>
</p>

<p>
  <b>Lastname:</b>
  <%= @user.lastname %>
</p>

<p>
  <b>Adress:</b>
  <%= @user.adress %>
</p>

<p>
  <b>City:</b>
  <%= @user.city %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Tel num:</b>
  <%= @user.tel_num %>
</p>

<p>
  <b>Password:</b>
  <%= @user.password %>
</p>

<p>
  <b>Banned:</b>
  <%= @user.banned %>
</p>

<p>
  <b>Lastlogin:</b>
  <%= @user.lastlogin %>
</p>


<%= link_to 'Promijeni', edit_user_path(@user) %> |
<%= link_to 'Nazad', users_path %>
<%= link_to 'Glavna', '/home'%>