
 <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
        <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

<div class="container">

<h2> <%= t :categories %></h2><br/>


<ul class="nav nav-tabs">
  <li><a href="/home"><%= t :home %></a></li>
  <li><a href="/ads"><%= t :ads %></a></li>
  <li class="active"><a href="/categories"><%= t :categories %></a></li>
  <li><a href="/users"><%= t :users %></a></li>
  <li><a href="/ads/new"><%= t :create_ad %></a></li>
  <li><a href="/dashboards"> Dashboard </a></li>
  
  
</ul>


</div>
<div class="container">
<table>
  <tr>
    <th><%= t :name %></th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td><%= category.name %></td>
    <td><%= link_to (t :show), category %></td>
     <td><%= link_to (t :edit), edit_category_path(category) %></td>
    <td><%= link_to (t :destroy), category, method: :delete, data: { confirm: (t :you_sure) + "?"  } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to (t :new_category), new_category_path %>
</div>
<body>
    <div id="wrap">
      <div class="container">
      </div>
    </div>
    <div id="footer">
<br/>
  <a href="http://localhost:3000/home">
    <font size="2"><div class="container" style="text-align: center" >Copyright © All Rights Reserved</div></font>
</a>
    </div>
</body>