<!doctype>
<html>
<head>
<title> knjige.etf.ba </title>
		<!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">



<link rel="javascripts" href="javascripts/application.js">


        <!-- Optional theme -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
      <%= javascript_include_tag "angular-file-upload" %>
    <%= javascript_include_tag "angular-file-upload-html5-shim" %>
    <%= javascript_include_tag "angular-file-upload-shim" %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "angular" %>
    <%= javascript_include_tag "angular-route" %>
    <%= javascript_include_tag "angular-resource" %>
   <%= javascript_include_tag "ui-bootstrap-tpls-0.11.0" %>
    <%= javascript_include_tag "angular-translate" %>
    
   
<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

<style type="text/css">
  .bs-example{
      margin: 20px;
      }
   
</style>

</head>
<body ng-app="CategoryApp">




<div ng-controller="CategoryAds">



     <nav class="" role="navigation" style="background-color: #212F72;height: 40px; " >
  <div  class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
 

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div  class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
     
      <form class="navbar-form navbar-left" name="search" style="height: 25px;" novalidate>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Ukucajte nešto..." ng-model="rijec" style="height: 25px;" required>
           
          
        </div>
        <a href="#search"><button href="#search" style="height: 25px; padding-top: 5px;" type="submit" class="btn btn-default btn-sm" ng-click="trazi(rijec)" style="height: 25px; padding-top: 5px;" ng-disabled="search.$invalid">
        <p>{{ 'SEARCH' | translate }}</p>
        </button>
        </a>
      </form>

      <ul class="nav navbar-nav navbar-right">
 
        
        <a></a>
<!--
          <li><a class="navbar-brand" href="#/cart" ng-show="reg_and_login_value"><font color="white"> <span class="glyphicon glyphicon-shopping-cart" ></span>Korpa</font> <font size="1px">{{brojac()}} items</font></a></li> 

          
          <li><a class="navbar-brand" href="#/contact"><font color="white">Kontakt</font></a></li>
-->
          <li ng-show="reg_and_login_value"><a class="navbar-brand" href="#/messages" style="height: 40px; padding-top: 10px;"><font color="white" size="2px">{{ 'MESSAGES' | translate }}</font></a></li>

        
          <li ng-hide="reg_and_login_value"><a href="#login"  class="navbar-brand" style="height: 40px; padding-top: 10px;"><font color="white" size="2px">{{ 'LOGIN' | translate }}</font></a></li>
          <li ng-hide="reg_and_login_value"><a href="#registracija"  class="navbar-brand" style="height: 40px; padding-top: 10px;"><font color="white" size="2px">{{ 'REGISTRATION' | translate }}</font></a></li>
          <li><a ng-click="changeLanguage('en')" translate="BUTTON_LANG_EN">English</a></li>
          <li><a ng-click="changeLanguage('de')" translate="BUTTON_LANG_DE">Bosanski</a></li>
          
         <!--><li style="margin-top: 2px;" ng-show="reg_and_login_value"> <img src="{{korisnik.avatar_url}}" height="35px" width="40px"/> </li>
         -->  
          <li ng-show="reg_and_login_value"><a class="navbar-brand" href="#myprofile" ng-click="myProfile()" style="height: 40px; padding-top: 10px;"><font color="white" size="2px"><b>{{username}}</b></font></a></li>  
          <li ng-show="reg_and_login_value"><a class="navbar-brand" href="#login" ng-click="logout()" style="height: 40px; padding-top: 10px;"><font color="white" size="2px">{{ 'LOGOUT' | translate }}</font></a></li> 



         
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div style="height: 100px; padding-left: 20%;">
    <img src="images/logo.png" height="100px" />
     <img src="images/products/product.jpg" height="50px" width="50px" />
    
         </div>
<div   style="background-color: #212F72;height: 40px; padding-left: 20%; margin-top: 20px;">

<a href="#home"  class="navbar-brand" style="height: 40px; padding-top: 10px;"><font color="white">{{ 'HOME' | translate }}</font></a>
<a href="#objavi" class="navbar-brand" style="height: 40px; padding-top: 10px;"><font color="white">{{ 'PUBLISH' | translate }}</font></a>
<a  href="#najnoviji" class="navbar-brand" style="height: 40px; padding-top: 10px;"><font color="white">{{ 'NEW' | translate }}</font></a>
<a  class="navbar-brand" style="height: 40px; padding-top: 10px;"><font color="white">{{ 'TOP_RATED' | translate }}</font></a>
<a class="navbar-brand" href="#/wish" style="height: 40px; padding-top: 10px;"><font color="white" >{{ 'WISH_LIST' | translate }}</font></a>
<a  href="#ae" class="navbar-brand" style="height: 40px; padding-top: 10px;" ng-click="ucitajOdsjekIGodinu('ae',0)">AE</a>
<a  href="#ee" class="navbar-brand" style="height: 40px; padding-top: 10px;" ng-click="ucitajOdsjekIGodinu('ee',0)">EE</a>
<a  href="#tk" class="navbar-brand" style="height: 40px; padding-top: 10px;" ng-click="ucitajOdsjekIGodinu('tk',0)">TK</a>
<a  href="#ri" class="navbar-brand" style="height: 40px; padding-top: 10px;" ng-click="ucitajOdsjekIGodinu('ri',0)">RI</a>
</div>
<div style="background-color: #283AC2;height: 25px; padding-left: 20%; " ng-show="prikaziPodmeni">
    <a href="#1" style="margin-left: 15px;" ng-click="ucitajGodinu(1)">Prva</a>
    <a href="#2" style="margin-left: 15px;" ng-click="ucitajGodinu(2)">Druga</a>
    <a href="#3" style="margin-left: 15px;" ng-click="ucitajGodinu(3)">Treća</a>
    <a href="#4" style="margin-left: 15px;" ng-click="ucitajGodinu(4)">Četvrta</a>
    <a href="#5" style="margin-left: 15px;" ng-click="ucitajGodinu(5)">Peta</a>
    </div>
<div style=" padding-bottom: 20px;">    
    
    


<div ng-view> </div>
</div>
</div>
<br/>


<br/>
</body>
</html>